{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<!-- Footer -->
                        <div class="flex-grow-1"></div>
                        <footer class="footer mt-1">
                            <p>Copyright © 2022 - Made with <i class="fa fa-heart"></i> by &nbsp;&nbsp;  <a href="https://www.linkedin.com/in/khalid-zahid/">Muhammad Khalid Bagha</a> | <a href="https://www.linkedin.com/in/asra-muneeb-17027725a/">Asra Muneeb</a> | <a href="https://www.linkedin.com/in/owais-ahmedk/">Owais Ahmed Khan</a> | <a href="https://www.linkedin.com/in/adeena-asif-86207022a/">Adeena Asif</a> </p>
                        </footer>			</div>
                                    <!-- End Main Content Wrapper -->
                                
                                <!-- Theme Color customizer Right Modal -->
                                <div class="customizer-toggle" data-toggle="modal" data-target="#ThemeColorCustomizer">
                            <i data-feather="settings" class="spin icon mt-minus-2"></i>
                        </div>
                        
                        <div class="modal right color-customizer-modal fade" id="ThemeColorCustomizer">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel2">Theme Color Customizer</h4>
                                    </div>
                        
                                    <div class="modal-body">
                                        <!-- Left SideMenu Color Switcher -->
                                        <div class="color-content">
                                            <h5>Left SideMenu Color</h5>
                                            <p class="mb-2">Change SideMenu background color</p>
                                            <ul class="customize-sidemenu">
                                                <li id="BGPrimary" class="bg_primary"></li>
                                                <li id="BGPurpleIndigo" class="purple_indigo"></li>
                                                <li id="BGPink" class="bg_pink"></li>
                                                <li id="BGnNightBlue" class="bg_night_blue"></li>
                                                <li id="BGIndigo" class="bg_indigo"></li>
                                                <li id="BGSuccess" class="bg_success"></li>
                                                <li id="BGSecondary" class="bg_secondary"></li>
                                                <li id="BGPurple" class="bg_purple"></li>
                                                <li id="BGGray" class="bg_gray"></li>
                                                <li id="BGDanger" class="bg_danger"></li>
                                                <li id="BGGrayBlue" class="bg_gray_blue"></li>
                                                <li id="BGGreen" class="bg_green"></li>
                                                <li id="BGWarning" class="bg_warning"></li>
                                                <li id="BGDeepPurple" class="bg_deep_purple"></li>
                                            </ul>
                                        </div>
                        
                                        <!-- Left SideMenu Folded Menu -->
                                        <div class="color-content">
                                            <h5>Folded Menu</h5>
                                            <p>Toggle Folded Menu</p>
                        
                                            <div class="side-menu-switch">
                                                <label class="switch">
                                                    <input type="checkbox" class="light">
                                                    <span class="slider round folded-menu"></span>
                                                </label>
                                            </div>
                                        </div>
                        
                                        <!-- Card Shadow Show & hide -->
                                        <div class="color-content">
                                            <h5>Card Shadow</h5>
                                            <p>Show & Hide Card Shadow</p>
                        
                                            <div class="side-menu-switch">
                                                <label class="switch">
                                                    <input type="checkbox" class="light">
                                                    <span class="slider round card-shadow"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                <!-- Footer Scripts -->
                                <!-- Optional JavaScript -->
                        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                        <script src="{% static 'admin/js/jquery.min.js' %}"></script>
                        <script src="{% static 'admin/js/popper.min.js' %}"></script>
                        <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
                        
                        <!-- Feather Icon JS -->
                        <script src="{% static 'admin/js/feather.min.js' %}"></script>
                        <!-- Gllery viewer JS -->
                        <script src="{% static 'admin/js/viewer.min.js' %}"></script>
                        
                        <!-- ApexCharts JS -->
                        <script src="{% static 'admin/js/apex-charts/apexcharts.min.js' %}"></script>
                        <script src="{% static 'admin/js/apex-charts/apexcharts-stock-prices.js' %}"></script>
                        <script src="{% static 'admin/js/apex-charts/apex-line-charts.js' %}"></script>
                        <script src="{% static 'admin/js/apex-charts/apex-area-charts.js' %}"></script>
                        <script src="{% static 'admin/js/apex-charts/apex-bar-charts.js' %}"></script>
                        <script src="{% static 'admin/js/apex-charts/apex-mixed-charts.js' %}"></script>
                        <script src="{% static 'admin/js/apex-charts/apex-pie-donuts-charts.js' %}"></script>
                        <script src="{% static 'admin/js/apex-charts/sales-by-countries.js' %}"></script>
                        <script src="{% static 'admin/js/apex-charts/product-trends-by-month.js' %}"></script>
                        <script src="{% static 'admin/js/apex-charts/month-sales-statistics.js' %}"></script>
                        <script src="{% static 'admin/js/apex-charts/order-summary.js' %}"></script>
                        <script src="{% static 'admin/js/apex-charts/visitors-overview.js' %}"></script>
                        <script src="{% static 'admin/js/apex-charts/leads-stats.js' %}"></script>
                        <script src="{% static 'admin/js/apex-charts/apex-column-charts.js' %}"></script>
                        <script src="{% static 'admin/js/custom-chart.js' %}"></script>
                        
                        <!-- Custom JS -->
                        <script src="{% static 'admin/js/custom.js' %}"></script>
                                    </body>
                        </html>
                 