<div class="row">
	<div class="col-lg-3 col-sm-6">
		<div class="stats-card-two mb-30">
			<div class="media align-items-center justify-content-between">
				<div class="ml-0">
					<p class="mb-10 line-height-1">Total Parcels</p>
					<h3 class="mb-0 fs-25">{{allParcelCount}}</h3>
				</div>
				<div class="avatar avatar-blue radius-0">
					<i data-feather="grid"></i>
				</div>
			</div>

		

			
			</div>
		</div>

	<div class="col-lg-3 col-sm-6">
		<div class="stats-card-two mb-30">
			<div class="media align-items-center justify-content-between">
				<div class="ml-0">
					<p class="mb-10 line-height-1">Delivered Parcels</p>
					<h3 class="mb-0 fs-25">{{delivered}}</h3>
				</div>
				<div class="avatar avatar-cyan radius-0">
					<i data-feather="file-text"></i>
				</div>
			</div>


			
			</div>
		</div>
	 
	<div class="col-lg-3 col-sm-6">
		<div class="stats-card-two mb-30">
			<div class="media align-items-center justify-content-between">
				<div class="ml-0">
					<p class="mb-10 line-height-1">New Parcels</p>
					<h3 class="mb-0 fs-25">{{newCount}}</h3>
				</div>
				<div class="avatar avatar-gold radius-0">
					<i data-feather="user"></i>
				</div>
			</div>

			

			
			</div>
		</div>

	<div class="col-lg-3 col-sm-6">
		<div class="stats-card-two mb-30">
			<div class="media align-items-center justify-content-between">
				<div class="ml-0">
					<p class="mb-10 line-height-1">Total Riders</p>
					<h3 class="mb-0 fs-25">{{rider}}</h3>
				</div>
				<div class="avatar avatar-purple radius-0">
					<i data-feather="users"></i>
				</div>
			</div>

		
			
			</div>
		</div>
</div>
<!-- End Stats Card -->